@import "bourbon";

body {
  @include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
  font-family: $helvetica;
  font-family: $lucida-grande;
}
nav li{
    @include inline-block;
}
.mod-movies {
}
.mod-movie {
    padding: 5px;
    p {
        @include clearfix;
    }
    img {
        float: left;
        padding-right: 5px;
    }
}
